body {
	margin: 0;
	padding: 0;
	background-color: #eee;
	font-size: 80%;
	line-height: 160%;
	font-family: "Bitstream Vera Sans", Verdana, sans serif;
	color:#000;
	text-align: center;
	}
#page {
	text-align: left;
	margin: 0 auto;
	padding: 20px;
	width: 600px;
	background-color: #fff;
	border: 1px solid #ccc;
	}
h1 {
	font-size: 150%;
	margin: 20px 0 40px 0;
	text-align: center;
	color: #666;
	}
h2 {
	font-size: 120%;
	margin: 10px 0 10px 0;
}
form {
	margin: 10px 0 30px 0;
	padding: 0;
}
ul, ol {
	margin: 10px 0 20px 20px;
	padding: 0;
}
ul li, ol li {
	list-style-type: none;
	color: #777;
	margin: 3px 0 0;
	padding: 0;
}
ul li:before {
	content: "\00BB \0020";
}
input {
	margin: 0;
	padding: 0;
}
textarea {
	font-size: 90%;
	margin: 0;
	padding: 2px;
}
code {
	font-size: 110%;
	color: green;
}
img, a img {
	border: none;
}
fieldset {
	margin: 0;
	padding: 10px;
	border: 1px solid #ccc;
}
legend {
	color: #666;
}

table.sbApps tr td {
	width: 200px;
}

input.but {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 2px;
	cursor: pointer;
}
input.but:hover {
	background: #eee;
	border: 1px solid #000; 
}
a:link, a:visited {
	color: blue;
	text-decoration: none; 
}
a:hover {
	color: red;
	text-decoration: underline; 
}
